# Build directories
build/
stubs_build/
tests/classes/

# Compiled class files
*.class

# Object files
*.o
*.obj

# Executables
j2me-vm
*.exe

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# RMS data directory
rms_data/

# Temporary files
*.tmp
*.log
CMakeFiles/
*.bin
*.bytecode
output*.txt
*.class
*.jar
*.bmp
/j2me-vm.iml
/tests/tests.iml
cmake-build-debug
*.dll
*.elf
*.nacp
*.nro
*.img
*.bin
*.bmp
temp_pal/
temp_manifest/